.logo {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2.16em;
    letter-spacing: 0.03em;
    margin-right: 50px;

    span {
        color: var(--brend-color);
      }
  }